pandas==1.1.5
tqdm==4.57.0
torch==1.7.1
torchvision==0.8.2
qpth==0.0.15
pytorch_crf==0.7.2
transformers==4.3.2
numpy
quadprog
data==0.4
encoder==1.1
matplotlib
scikit_learn==0.24.2
torchcrf==1.1.0
adapter-transformers==2.2.0
tensorboard
torch==1.10.0
wordcloud
